streamlit>=1.52.2
langchain>=1.2.1
langchain-community>=0.4.1
langchain-groq>=1.1.1
chromadb>=1.4.0
pandas>=2.3.3
python-dotenv>=1.2.1
beautifulsoup4>=4.14.3
opentelemetry-exporter-otlp-proto-grpc>=1.41.0
opentelemetry-proto>=1.41.0